<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="first" class="com.example.demo.Address">
		<constructor-arg name="city" value="uttara"></constructor-arg>
		<constructor-arg name="state" value="Dhaka"></constructor-arg>
		<constructor-arg name="country" value="bng"></constructor-arg>
	</bean>
	<bean id="second" class = "com.example.demo.Employee">
		<constructor-arg name="id" value="101"></constructor-arg>
		<constructor-arg name="name" value="parvez"></constructor-arg>
		<constructor-arg ref="first"></constructor-arg>
	</bean>
</beans>
